<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Terps Summer Camp</title>
</head>

<body>
	<h1>Application</h1>
    <form action= <%- url %> method="post">
<fieldset>
    <label><strong>Name</strong>: <input type="text" name="name"/></label>
    <label><strong>Email Address</strong>: <input type="email" name="email"/><br><br></label>
  
    <label><strong>GPA</strong>: <input type="text" name="gpa"/><br><br></label>

    </label><strong>Background Information</strong>: <br></label>
    <textarea rows="7" cols="100" name="backgroundInformation"></textarea>

</fieldset>
    
    <br>
		<input type="reset" />
		<input type="submit" value="Submit Application"/>
    </form>
    <hr>
    <a href="/">HOME</a>
</body>

</html>
