<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Terps Summer Camp</title>
</head>

<body>
	<h1>Display GFAs Greater than or Equal to</h1>
    <form action=  <%- url %> method="post">
        <strong>GPA</strong>: <input type="text" name="gpa"/><br>
    <br>
		<input type="submit" value="Submit Request"/>
  </form>
    <hr>
    <a href="/">HOME</a>
</body>

</html>