<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
	<title>Order Confirmation</title>
</head>

<body>

	<h1> HAVE FUN WATCHING! </h1>
	
	<a href="/">Click here to search again</a>

	<div class="container">

		<br>
		
		<strong> Media Preference: </strong><%- pref %><br>
		<strong> Title: </strong><%- title %><br>
		<strong> Where you can watch: </strong><%- message %><br>
		<hr>
	</div>
	
	
</body>

</html>
