<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Terps Summer Camp</title>
</head>

<body>
	<h1>Removing All Applicants</h1>
    <form action= <%- url %> method="post">
    <input type="submit" value="Remove all applicants"/>
    </form>
    <hr>
    <a href="/">HOME</a>
</body>

</html>