<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Terps Summer Camp</title>
</head>

<body>
	<h1>Review Application</h1>
    <form action= <%- url %> method="post">
    <fieldset>
        <strong>Email Address</strong>: <input type="email" name="email"/><br><br>
    </fieldset>
    
    <br>
		<input type="reset" />
		<input type="submit" value="Submit Request"/>
  </form>
    <hr>
    <a href="/">HOME</a>
</body>

</html>