<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Terps Summer Camp</title>
</head>

<body>
	<h1>Removal of All Applications</h1>

    <%- message %>
    <br>
    <br>
    <a href="/">HOME</a>
</body>

</html>