<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Order Confirmation</title>
</head>

<body>
	<h1>Applicants Data</h1>
	<div>
		<strong>Name: </strong><%- name %><br>
		<strong>Email Address: </strong><%- email %><br>
		<strong>GPA: </strong><%- gpa %><br>
		<strong>Background Information: </strong><%- backgroundInformation %><br>
		<hr>
		<a href="/">HOME</a>
	</div>
</body>

</html>
